
.cVDisplayer{
    padding: 20px;
}

.textHeader{
    font-weight: bolder;
    margin-left: 20px;
}


/* CONTACTO NOMBRE  */
.infoContacto{
    display: flex;
    flex-direction: column;
}
.infoContacto>h2{
    align-self: center;
    padding: 10px;
}
.datosContacto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.datosContacto>span{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 0 30px;
    height: 35px;
}
.datosContacto>span>img{
    width: 15px;
    height: 15px;
}
.datosContacto>ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}
.datosContacto > ul > li::before {
    content: '- ';
}



                                                                                                            
/*  TRABAJOS */
.workInfo>h2{
    padding: 10px 5px 0 5px;
}
.topTxt{
    align-items: center;
    font-weight: bolder;
}
.topTxt *{
    margin: 0 5px 5px 5px;
}
.trabajo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.headerWork{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
}
.headerWork>.topTxt+span>h2:nth-child(2){
    margin: 0 5px;
}
.headerWork>span{
    display: flex;
    flex-direction: row;
}
.headerWork>span:nth-child(2){
    margin-left: auto;
}
.work>ul{
    margin: 0 60px;
    margin-top: 5px;
}
.work>ul>li{
    list-style-type: disc;
}
.work>ul>li:not(:last-child){
    margin-bottom: 5px;
}






/* ESTUDIOS */
.eduInfo>h2{
    padding: 10px 5px 0 5px;
}
.estudios{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.topTxtEdu>h2{
    margin-bottom: 5px;
}
.topTxtEdu>h2:nth-child(2){
    font-weight: lighter;
}
.headerEdu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
}

.headerEdu>span:nth-child(2){
    margin-left: auto;
    display: flex;
    flex-direction: row
}
.headerEdu>span:nth-child(2)>h2:nth-child(2){
    margin: 0 5px
}
/* PROJECTOS PERSONALES */
.projPersonales>h2{
    padding: 10px 5px 0 5px;
}
.projectos{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.headerPp{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    gap: 5px;
}
.headerPp>h2:nth-child(2){
    margin: 0 10px;
}
.pp>ul{
    list-style-type: disc;
    margin: 0 60px;
}
/* SKILLZ */
.skillList>h2{
    padding: 10px 5px 0 5px;
}
.skills{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill{
    display: flex;
    flex-direction: row;
    margin: 0 10px 5px 10px;
}
.skill>h2:first-child{
    font-weight: bolder;
}
.skill>h2:nth-child(2){
    margin: 0 5px;
}